extends ../layout

block content
  .container
    h1.page-header 숙소 목록
    
    //-| total #{pagination.numPosts} posts
    table.table.table-bordered
      thead
        tr
          th 숙소 이름
          th 지역
          th 상세 주소
          th 이용 요금(1박)
          th 등록 날짜
          th 조회수
          th
      tbody
        each post in posts
          tr
            td
              a(href='/posts/#{post.id}')= post.title
            td= post.city 
            td= post.address
            td= post.fee
            td= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')
            td= post.read
            td
              if(post.user_id == currentUser._id.toString())
                a.btn.btn-xs.btn-default(href='/posts/#{post.id}/edit') 수정
                | 
                a.btn.btn-xs.btn-default(data-id=post.id, class='delete') 삭제
              else
                if(post.reservation != null)
                  a.btn.btn-xs.btn-default(href='/reservations/#{post.reservation}') 예약중
                else
                  a.btn.btn-xs.btn-default(href='/reservations/new/#{post._id}') 예약

    a.btn.btn-primary(href='/posts/new') 숙소 등록 
    
    h3 지역을 입력하면 원하는 지역의 숙소를 보여줍니다. (ex) 용인/파주/연천
    form(action="/posts/search", method='POST')
        .row
          .col-lg-6
            .input-group
               input(type="text",name='search',id='search', class="form-control" placeholder="ex 용인/파주/연천")
               span.input-group-btn
                  button.btn.btn-default(type="submit" ) 검색  
   
    form#deleteForm(style='display:none', method="POST")
            
     script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 삭제하시겠습니까?')) {
          $("#deleteForm").attr('action', "/posts/" + id + "?_method=DELETE").submit();          
        }
        return false;
      }); 


