extends ../layout

block content
  .container
    h1 숙소이름 
    h2.page-header= post.title
    p
      span 등록 날짜 #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{post.read})
    
    h4 지역 
    p.well(style='white-space:pre;')= post.city

    h4 상세 주소 
    p.well(style='white-space:pre;')= post.address

    h4 이용 요금(1박기준)
    p.well(style='white-space:pre;')= post.fee

    h4 이용 규칙
    p.well(style='white-space:pre;')= post.rule

    h4 편의 시설
    p.well(style='white-space:pre;')= post.facilities

    h4 숙소 설명
    p.well(style='white-space:pre;')= post.detail

     .col-md-6 
        div(id="map" style="width:80%;height:300px;")

    br
    a.btn.btn-default(href='/posts') 목록


     script(type='text/javascript').
      var mapContainer = document.getElementById('map'), 
      mapOption = {
        center: new daum.maps.LatLng(33.450701, 126.570667),
        level: 3 
      };  
      var map = new daum.maps.Map(mapContainer, mapOption);
      
      var geocoder = new daum.maps.services.Geocoder();

      geocoder.addr2coord('#{post.address}', function(status, result) {        
          if (status === daum.maps.services.Status.OK) {

              var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);
             
              var marker = new daum.maps.Marker({
                  map: map,
                  position: coords
              });

              var infowindow = new daum.maps.InfoWindow({
                  content: '<div style="width:150px;text-align:center;padding:6px 0;">#{post.title}</div>'
              });
              infowindow.open(map, marker);
              map.setCenter(coords);
          } 
      }); 
